.place__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 5.5vw;
    font-weight: 900;
    line-height: 6vw;
    color: white;
    justify-self: start;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .place__title{
        font-size: 7vw;
        line-height: 7.4vw;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 5.5vw;
        line-height: 6vw;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 14px;
    }
}