.photo-grid__item {
    min-width: 284px;
    height: 100%;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
        min-width: 300px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__item {
        min-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        min-width: 288px;
    }
}
