.header {
    margin: 28px auto 0;
    width: calc(100% - 96px);
    max-height: 52px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header{
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 16px auto 0;
        width: calc(100% - 32px);
        max-height: 42px;
    }
}

