.cover__title-link {
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-decoration: none;
}

.cover__title-link:hover {
    cursor: pointer;
}