.footer__links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 18px;
    flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 48px;
    }
}