.lead__image {
    margin: 64px auto 0;
    width: 100%;
    min-height: 615px;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        min-height: 580px;
        margin: 56px auto 0;

    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        min-height: 200px;
        margin: 40px auto 0;
    }
}

