.cover__overlay {
    position: absolute;
    background-color: rgba(42, 44, 47, 0.3);
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    margin: 0 auto;
}

.cover__overlay:hover:after {
    background-color: rgba(42, 44, 47, 0.8);
    position: absolute;
    margin-left: -1184px;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
}