.place {
    display: grid;
    grid-template-columns: fit-content(460px) 1fr;
    grid-template-rows: 1fr fit-content(460px);
    justify-content: center;
    margin-bottom: 80px;
    gap: 48px 40px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: fit-content(440px) 1fr;
        grid-template-rows: 1fr fit-content(440px);
        gap: 4.6vw 3vw;

    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: fit-content(340px) 1fr;
        grid-template-rows: 1fr fit-content(340px);
        margin-bottom: 73px;
        gap: 5.5vw 3.6vw;

    }
}

@media screen and (max-width: 320px){
    .place {
        grid-template-columns: auto;
        justify-items: center;
        margin-bottom: 50px;
    }

}