.footer {
    max-width: calc(100% - 96px);
    width: 100%;
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        margin: 64px 0 24px 16px;
    }
}